html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

.main {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coming {
    padding-bottom: 64px;
    font-size: 32px;
    font-weight: 800;
}
